[user]
	name = John Richardson
        email = john@esparklearning.com
[alias]
        co = checkout
        ci = commit
        st = status
        br = branch
        df = diff
        pu = pull
        ps = push
        sh = stash
        ft = fetch
        rb = rebase
        mg = merge

[branch]
        autosetuprebase = always
[pull]
  default = tracking
[push]
  default = tracking
[color]
        diff = auto
        status = auto
        branch = auto
[core]
        autocrlf = input
	trustctime = false
	excludesfile = /Users/john/.gitignore
[merge]
        tool = kdiff3
[merge "railsschema"]
       name = newer Rails schema version
       driver = "ruby -e '\n\
       system %(git), %(merge-file), %(--marker-size=%L), %(%A), %(%O), %(%B)\n\
       b = File.read(%(%A))\n\
       b.sub!(/^<+ .*\\nActiveRecord::Schema\\.define.:version => (\\d+). do\\n=+\\nActiveRecord::Schema\\.define.:version => (\\d+). do\\n>+ .*/) do\n\
       %(ActiveRecord::Schema.define(:version => #{[$1, $2].max}) do)\n\
       end\n\
       File.open(%(%A), %(w)) {|f| f.write(b)}\n\
       exit 1 if b.include?(%(<)*%L)'"
